


#aboutme {
   line-height: 150%;
   width: 60%;
   background-color: white;
   padding: 30 50px;
   box-shadow: 10px 10px 5px #BBBBBB;
   position: relative;
   border-radius: 20px;
   top: 50px;
   font-family: 'Muli';
   margin: 0 auto;
}


