body {
   background-color:#9ff0f2;
   position: relative;
   font-family: 'PT Sans', sans-serif;
}

h1 {
   font-family: 'Zilla Slab', sans-serif;
   color: black;
/*  background-color: black;*/
   font-weight: 200;
}

   
  #container {
    max-width: 800px;
    height: 800px;
    margin: auto;
  top: 200px;

     background-color: white;
   
  }
   
#jsontext {
   position: absolute;
   left: 2%;
   top: 10%;
   width: 200px;
   height: 300px;
}
   
#submit {
   position: absolute;
   left: 11%;
   top: 500px;
   width: 150px;