body {
   background-color:#9ff0f2;
   position: relative;
   font-family: 'PT Sans', sans-serif;
}

h1 {
   font-family: 'Zilla Slab', sans-serif;
   color: black;
/*  background-color: black;*/
   font-weight: 200;
}

