body {
   background-color:#9ff0f2;
   position: relative;
   font-family: 'PT Sans', sans-serif;
}

h1 {
   font-family: 'Zilla Slab', sans-serif;
   color: white;
   font-weight: 200;
   position:relative;
   margin: 0 auto;
   left: 50%;
   transform: translateX(-50%);
   background-color: black;  
   width: 100%;
}

   
#container {
 max-width: 800px;
 height: 800px;
 margin: auto;
 top: 250px;
 background-color: white;
   
  }
   
#jsontext {
   position: absolute;
   left: 2%;
   top: 230px;
   width: 200px;
    border-radius: 2px;
   height: 300px;
}
   
#submit {
   position: absolute;
   left: 120px;
   top: 550px;
   width: 110px;
   height: 200px;
     
}

#instructText {
   position: absolute;
   top: 80px;
   left: 20px;
   width: 200px;

}

#tutorial {
   background-color: lightgrey;
   border-radius: 2px;
   position: absolute;
   right: 70px;
   top: 150px;
   width: 200px;
   padding: 20px;
}