body {
   font-family: Montserrat;
}

#container {
   width: 100%;
   overlay: rgba(0,0,0,0.2);
}

#title {
   margin: 0 auto;
   font-size: 4em;
}

/*
#imgcontain {
   width: 400px;
   height: 300px;
   overflow: hidden;
   float: left;
}
*/

#myImage {
   width: 400px;
}

#animatebox {
   float: right;
   width: 300px;
   height: 300px;
   background-color: black;
}
/*animation*/
.animate {
   animation: pulse3 2.4s infinite;
   -webkit-animation: pulse3 2.4s infinite;
}

@keyframes pulse3 {
      0% {background-color: #45CEEF;}
     25% {background-color: #FFF5A5;}
     50% {background-color: #FFD4DA;}
     75% {background-color: #99D2E4;}
     100% {background-color: #D8CAB4;}
}
