body {
   font-family: "Muli","sans-serif";
   font-size: 12px;
   letter-spacing: 1px;
   position: absolute;
   margin: 0 auto;
   width: 100%;
   height: 100%;
   overflow: hidden;
   color: #434763;
   background-color: #eff1f0;
  
}
a {
    text-decoration: none;
   color: black;
}
a:hover {
   color: grey;
}

#name {
   font-family: "Arapey","sans-serif";
   position: absolute;
   left: 50%;
   top: 5%;
   margin: 0 auto;
   z-index: 3;
   font-size: 36px;
   transform: translateX(-50%);
 
}

#navline {
   width: 80%;
   top: 12.5%;
   left: 10%;
   height: 3px;
   z-index: 2;
   margin: 0 auto;
   position: absolute;
   background-color: #cccccc;

}


#sky {
   width: 100%;
   top: 20%;
   position: absolute;
   z-index: 1;
}

#aboutbutton {
  position: absolute;
   list-style: none;
   top: 12.5%;
   padding: 10px;
   z-index:2;
   left: 50%;
   transform: translateX(-175px);
}



#hobbies {
   position: absolute;
   list-style: none;
   top: 12.5%;
   padding: 10px;
   z-index:2;
   left:50%;
   transform: translateX(100px);
   
}

#aboutme {
   line-height: 150%;
   width: 45%;
   top: 25%;
   margin: 0 auto;
   left: 45%;
   transform: translateX(-50%);
   position: absolute;
   z-index: 300;
   font-size: 12px;
   font-family: 'Muli';
}

#profpic {
   top: 30%;
   position: absolute;
   left: 75%;
   transform: translateX(-50%);
   z-index: 400;
}