body {
   font-family: "Arapey","sans-serif";
   font-size: 16px;
   letter-spacing: 1px;
   position: absolute;
   margin: 0 auto;
   width: 100%;
   height: 100%;
   overflow: hidden;
   color: #434763;
   background-color: #eff1f0;

}


#name {
   font-family: "Arapey","sans-serif";
   position: absolute;
   left: 50%;
   top: 5%;
   margin: 0 auto;
   z-index: 3;
   font-size: 36px;
   transform: translateX(-50%);
 
}

#navline {
   width: 80%;
   top: 12.5%;
   left: 10%;
   height: 3px;
   z-index: 2;
   margin: 0 auto;
   position: absolute;
   background-color: #cccccc;

}


#sky {
   width: 100%;
   top: 20%;
   position: absolute;
   z-index: 1;
}

#bike2 {
   z-index: 30;
   width: 25%;
   position: absolute;
   left: 50%;
   transform: translate(-50%, -50%);
   top: 50%;

}


#musicbox {
   position: absolute;
   z-index: 4;
}

#crane {
   position: absolute;

}

#aboutbutton {
  position: absolute;
   list-style: none;
   top: 10%;
   padding: 10px;
   z-index:2;
   left: 50%;
   transform: translateX(-175px);
}



#tui1 {
   width:100%;
}

#hobbies {
   position: absolute;
   list-style: none;
   top: 10%;
   padding: 10px;
   z-index:2;
   left:50%;
   transform: translateX(100px);
   
}


#hobbiesactive {
   display:none;
   position: absolute;
   list-style: none;
   top: 3%;
   z-index:2;
   left:57.5%;
   transform: translateX(-50%);
}

#menu {
   position: absolute;
   font-size: 1.5em;
   left: 50%;
   top:2.5%;
   transform: translateX(-50%);
   z-index: 15;
   width: 30px;
}


/*Animation*/
.move {
  animation: move1 4s steps(100) infinite alternate;
   transition-timing-function:  cubic-bezier(0.42, 0.0, 0.58, 1.0);
}



@keyframes move1 {
  from { top: 45%; left: 50%; }
  to   { top: 55%; left: 50%; }
  
}


.hobbiesactive {
}

.wingsactive {
}