body {
   margin: 0 auto;
   background-color: #db465c;
   font-family: 'Montserrat','sans-serif';
}

#character {
   height: 102%;
}
#designbg {
   width: 100%;
}

#title {
text-align: center;
position: absolute;
top: 50%;
left: 50%;
color: white;
transform: translateX(-50%);
transform: translateY(-50%);
}

.icon {
   height:200px;
   padding: 20px;
   float: left;
}

#carouselsec {
   background-color: #ffff66;
}

#carousel {
   margin: 0 auto;
   width: 600px;
   overflow: hidden;
}

#carousel ul {
   width: 1920px;
}

#carousel ul li {
   list-style: none;
}

#webdes {
   background-color: #f13b44;
}

/* jquery */
.characteractive {
}
