body {
   background-color: #f6f6f6;
   margin: 0;
   font-family: Helvetica;
   color: black;
}

/*nav*/
#nav {
   height: 10%;
   width: 100%;
}
.navitem {
   display: inline-block;
   text-transform: uppercase;
   height: 100%;
   width: 150px;
}


/*container */
#gridcontainer {
   margin: 0 auto;
   position: absolute;
   top: 10%;
   height: 87%;
   width:100%;
   overflow: hidden;
}

/*side*/
#leftside {
   margin: 0;
   width: 25%;
   float:left;
}

#green {
   height: 100%;
}

#rightside {
   margin: 0;
   width:75%;
   overflow:hidden;
}

/*top*/
#toprow {
   height: 50%;
   float: right;
}

#bw2 {
   width: 40%;
}

#blue {
   width: 60%;
   float:right;
}

#bottomrow {
   height: 60%;
   float: right;
   overflow: hidden;
}
#orange {
   width: 60%;
   float: left;

}

#bw1 {
   width: 40%;
}

/*container end*/


#logobg {
   background-color: black;
   position: absolute;
   padding: 25px;
   top: 50%;
   transform: translate(3%,-25%);
   right: 0;
}

/*animate*/
.animatebg {
   animation: pulse 2.4s infinite;
   -webkit-animation: pulse 2.4s infinite;
}

.animatebg2 {
   animation: pulse2 2.4s infinite;
   -webkit-animation: pulse2 2.4s infinite;
}

.animatebg3 {
   animation: pulse 2.4s infinite;
   -webkit-animation: pulse 2.4s infinite;
}

.animatebg4 {
   animation: pulse2 2.4s infinite;
   -webkit-animation: pulse2 2.4s infinite;
}


@keyframes pulse {
   0% {
      background-color: none;
   }
   100% {
      background-color:#cbdb2b;
   }
}


@keyframes pulse2 {
   0% {
      background-color: #faa72d;
   }
   100% {
      background-color:none;
   }
}
