/* App.css */

/* General styles */
.container {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    width: 70%;
    padding: 10px;
  }
}

.about-me p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #333333;
}

.about-me {
  margin: 1.5em 0em;
}

.about_text {
  text-align: left;
  text-indent: 2ch;
  line-height: 1.5em;
}

.App {
  text-align: center;
}

@media (max-width: 768px) {
  h1, h2 {
    font-size: 1.5em;
  }
}

/* Responsive images */
img {
  max-width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.cv-button {
  padding: 10px;
  border-radius: 0.25em;
  border: solid 1px #bbbbbb;
  margin: 1em;
  background-color: white;
}

.external-links {
  display: flex;
  flex-direction: row;
}

.external-link-button {
  display: flex;
}


.flex_row {
  display: flex;
  /* width: 100%; */

}


@media (max-width: 768px) {
  .gallery {
    display:none;
  }
}



@media (max-width: 768px) {
  .flex_row {
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
  }
}


.flex_figures {
  display: flex;
  width: 75%;
}

@media (max-width: 768px) {
  .flex_figures {
    width: 100%;
    flex-direction: column;
  }
}


.gallery-container {
  display: flex;
  flex-direction: column;
}

.gallery-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
}

.gallery-row img {
  margin: 0.2em;
  width: 33%;
}

.paper-container {
    width: 70%;
    margin: 0 auto;
}

@media (max-width: 768px) {
  .paper-container {
    width: 90%;


  }
}

.flex_row {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: center;
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .gallery-row {
    flex-direction: column; /* Stack items vertically on smaller screens */
  }

  .gallery-row img {
    width: 100%; /* Full width for each image on smaller screens */
  }
}

@media (max-width: 768px) {
  .gallery-row img {
    width: 100%;
  }
}

.button {
   font-family: 'ProximaNova';
    padding: 10px;
  border-radius: 0.25em;
  border: solid 1px #bbbbbb;
  margin: 1em;
  background-color: white;

}

h1 {
  font-family: 'ProximaNova';
  font-weight: 600;
}

h2 {
  font-size: 28px;
  font-family: 'ProximaNova';
}

h3 {
  font-size: 24px;
  font-family: 'ProximaNova';
}

hr {
  border-bottom: solid 1px black;
}

.line-divider {
  width: 80%;
}

.link {
  border: solid 1px #bbbbbb;
  padding: 0.33em 0.66em;
}

.link-icon {
  max-width: 28px;
  width: 28px;
  min-width: 28px !important;
  margin: 0px 18px 0px 0px !important;
}

#maker_gallery {
  padding-top: 2em;
  width: 90%;
  margin: 0 auto;
}

.maker-gallery {
  columns: 4 200px;
  column-gap: 1em;
}

.tile {
  margin-bottom: 1em;
  break-inside: avoid;
}

.margin-top-2em {
  margin-top: 2em;
}

.maker_pic {
  width: 100%;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation a {
  padding: 1em;

  text-decoration: none;
  color: #999999;

}

.social_media {
}

.paper_authors,
.paper_affiliations {
  position: relative;
  text-align: center;
}

.about-text {
  text-align: center;
}

.normal_p {
  width: 100%;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  padding: 0em;
}

.blog_date {
  text-align: center;
}
button {
  color: black;
}

p {
  width: 80%;
  text-align: left;
  position: relative;
  margin: 0 auto;
  line-height: 1.5em;
  padding: 1em;
}

@media (max-width: 768px) {
  p {
    width: 90%;
    padding: 0.5em;

  }
}


 
.example_videos {
  padding: 0.5em;
}
.paper_figure {
  width: 50%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  padding: 2em;
}

.centered {
    position: relative;
  left: 50%;
  transform: translateX(-50%);

}

.split-horizontal {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .split-horizontal {
    flex-direction: row;
  }
}

.project-row img {
  margin: 1em;
  min-width: 196px;
  border: solid 1px #bbbbbb;
}

.project-row {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 0.25em;
  color: black;
  width: 100%;
  margin-top: 0.5em;
  text-align: left;
}

@media (max-width: 768px) {
  .project-row {
    flex-direction: column;
    padding: 0.5em;
    text-align: center !important;
  }
  .project-row h3 {

    text-align: center
  }
}

.project-page-link {
  margin: 0.25em;
  font-size: 16px !important;
  border-radius: 0.2em;
  color: black;
  border: solid 1px #bbbbbb;
  padding: 0.33em 0.66em;
}

.project-row a {
  text-decoration: none;
  margin: 0.25em;
  font-size: 16px !important;
  border-radius: 0.2em;
  color: black;
}

.project-row h3 {
  text-align: left;
}

.project-row p {
  font-size: 16px;
}

.project-preview {
  max-width: 196px;
}

.vertical-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  width: 80%;
  margin: 2em auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.footnote {
  position: absolute;
  left: 105%;
  top: 0;
  width: 200px;
  padding: 10px;
  font-size: 12px;
  color: #666;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}

.quantitative-feedback-image {
  flex: 1;
  padding-right: 1em;
  max-width: 50%;
}

.quantitative-feedback-text {
  flex: 2;
}

.note {
  background-color: #eeeeee;
  padding: 0.5em;
  border: solid 1px gray;
  border-radius: 0.25em;
}
