.discoContainer {
    background-color:rgb(249,197,212);
    padding:20px;
}

h3 {
    font-family: 'Proxima Nova';
    text-align: center;
}


#discotitle {
    color: deeppink;
}
.alice-carousel {
    width: 100%; 
}

.pink {
    color: deeppink;
}

#disco_figure_gallery {
    width: 100%;
    margin-top:2em;
    background-color: white;
    border-top: solid 1px deeppink;
    padding:1em;
}

.disco_figure {
    border-radius:0.25em;
    padding: 2em;

}
.carouselContent {
    width: 512px;
}

.navigation {
    text-align: center;
    margin-top: 2em;
}

.navigation a {
padding: 1em;
font-size: 16px;
text-decoration: none;
color: #333333;

}

.videoCard {
    /* border: solid 1px rgb(242,127,161); */
    border-radius: 0.5em;
    background-color: rgb(255,164,191);
    margin: 0.5em;
    padding: 0.5em;
    

}

.songName {
    color: deeppink;
    text-align: left;
}

.artistName {
    color: white;
    font-weight: 700px;
    font-size: 18px;
}

video {
    max-width: 256px !important;
    box-shadow: 0px 0px 15px 2px rgba(255,20,147,0.8);

    border-radius: 0.25em;

    
}

video::-webkit-media-controls-panel {
    background-image: linear-gradient(transparent, transparent) !important;
}