.discoContainer {
    background-color:white;
    padding:20px;
}

h3 {
    font-family: 'ProximaNova';
    text-align: center;
}


#discotitle {
    color: deeppink;
}
.alice-carousel {
    width: 100%; 
}

.pink {
    color: deeppink;
}

#disco_figure_gallery {
    width: 100%;
    margin-top:2em;
    background-color: white;
    border-top: solid 1px deeppink;
    padding:1em;
}

.disco_figure {
    border-radius:0.25em;
    padding: 2em;

}

.alice-carousel__stage-item {
    margin: 0.5em !important;
}

.alice-carousel h3 {
    width: 100%;
    text-align: center;
}
.alice-carousel p {

    width: 100%;
    text-align: center;
    position: relative;




}
.navigation {
    text-align: center;
    margin-top: 2em;
}

.navigation a {
padding: 1em;
font-size: 16px;
text-decoration: none;
color: #333333;

}

.react-player {
    /* scale:0.9; */
}

.videoCard {
    background-color: rgba(255, 164, 191, 0.15);

    border-radius: 0.5em;
    border: solid 1px rgb(255,164,191);
    padding:0.5em;
    width: 100%;


}

.songName {
    color: deeppink;
    text-align: left;
}

.artistName {
    color: black;
    font-size: 18px;
}

/* .videoCard video {

    border-radius: 0.25em;
    width: 100%;
    max-width: 100% !important;
    height: auto;

    
} */
video {
    max-width: 33% !important;
    border-radius: 0.25em;

    
}


@media (max-width: 768px) {

    .react-player {
        width: 100%;
    }
  
/* .videoCard {
    max-width: 256px;
}
video {
    max-width: 256px;
} */

}
