.profile-container {
    display:flex;
    text-align: left;
    
}

.profile-container p {
    margin-left: 2em;
    margin-top: 0em;
    line-height: 28px;
    font-size: 16px;
}

.navigation {
    margin-top: 2em;
  }
.navigation a {
padding: 1em;
font-size: 16px;
text-decoration: none;
color: #333333;

}